* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf

# add the markdown and toml files to percentage bar
*.md linguist-detectable
*.toml linguist-detectable

# prevent git from processing images as text
*.png binary
*.webp binary
*.gif binary
